@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Cherokee:wght@100..900&display=swap');


.controlphone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 

  
}

.controlphone2{

  display: flex;
  margin-left: -320px;
}

/* components/Card.module.css */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

tuto-edit{
  background-color: #00c853;
}


.purple {
  background: linear-gradient(135deg, #6a00ff, #9b00ff);
  
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.orange {
  background: linear-gradient(135deg, #ff8a00, #ffcd00);
 
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.pink {
  background: linear-gradient(135deg, #ff4b8a, #ff79c6);
 
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.blue {
  background: linear-gradient(135deg, #00aaff, #00d4ff);
 
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.yellow {
  background: linear-gradient(135deg, #ffc107, #ffec3d);

  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.green {
  background: linear-gradient(135deg, #00c853, #69f0ae);
 
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
}

.green-2 {
  background: linear-gradient(135deg, #08e2c5, #69f0ae);

  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  width: 305px;

}
 

.control{
  display: flex;
  text-align: center;
  align-items: center;
  width: 310px;
  justify-content: space-around;

 
}


.p-tutor{
  color: #ffffff;
  font-size: 12px;
  padding: 6px;
  margin-left: -5px;
}

.p-tutorColor{
  color: #ffffff;
  font-size: 13px;
  margin-right: 5px;
  margin-top: 3px;
}
.p-tutorMova{
  color: #ffffff;
  font-size: 13px;
 margin-top: -8px;
}

.p-tutorTiposdeFrase{
  color: #ffffff;
}

.p-tutor-posicao{
  color: #ffffff;
}



.p-tutor-Abaixa-Img2 {

  color: #ffffff;
  font-size: 10px;
}



.info-cont{
  font-family: 'Inter', 'Noto Sans Cherokee', sans-serif;
  font-weight: 400;
  color: white;
}


.espaco-1{
  width: 100%;
  height: 500px;
 align-items: center;
}

.edit-TiposBaixar{
 
  margin-top: 40px;
 background-color: #080808;
 
  display: flex;
}

.edit-select:hover{
  background-color: #00c853;
}


header img {
  margin-left: 130px;
  
  
}


.ceodesktop{
  border-radius: 1px red solid;
 margin-bottom: -28px;
}


.conteudofooter{
  margin-bottom: -100px;
  background-color: #3535b9;
  

}


.conteudofootermobile{
  margin-bottom: -100px;
  background-color: #1f1f20;
  width: 413px;
  

}

.ceodesktopmobile{

 margin-bottom: -26px;
 padding: 13px;
}



.logo-edit{

 margin-top: -65px;
  margin-left: 16px;
}

.slogan{
  
  font-size: 10px;
  text-align: center;
}



.edit-bot{
  padding: 15px ;
  display: flex;
 

  
}

button, .bot-1{
  padding: 3px;
  
}

.etexto{
  background-color: #00d4ff;
}



.irbaixo{

  background-color: #df2605;
  margin-left: 3px;
  padding: 3px;
  border-radius: 0px 10px 0px 10px;
}


.irbaixo2{
  background-color: #df2605;
  margin-left: 3px;
  padding: 3px;
  border-radius: 0px 10px 0px 10px;
}