@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* TextGenerator.module.css */
.container {
    padding: 20px;

  }
  
  .title {
    font-size: 24px;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  
